html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.text-center{
	text-align: center;
}

html, body {
	width: 100%;
	height: 100%;
	outline: 0;
	border: 0;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}



#mainContent{
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	float: left;

}

#sidebarWrapper{
	width: 15%;
	height: 100%;
	background: #bc0000;
	float: left;
	position: relative;
}
#mainContainer{
	width: 85%;
	height: 100%;
	float: left;
	position: relative;
	background: #000;
	display: block;
}

.mainContainerTop{
	height: 90%;
	width: 100%;
	background: #fff;
	float: left;
	position: relative;
}

.footer{
	height: 10%;
	width: 100%;
	background: #ccc;
	float: left;
	position: relative; 
}

.login{
	padding-top: 30px;
	padding-left: 15px;
}

.login input{
	margin: 0 auto;
	display: block;
	border-radius: 10px;
	text-align: center;
	outline: none;
	border: none;
}

.login input[type="button"]{
	margin: 0 auto;
	padding: 5px 10px;
	display: block;
}

.main-menu {
	list-style-type: none;
	font-size: 18px;
	text-align: center;
}

.main-menu li{
	display: block;
	margin: 30px 0 30px 0px;
}
/*
LOGIN FORM*/

.loginWrapper{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999999999;
}
