<section id="mainContent">
	<div id="sidebarWrapper" class="sideNav">
		<a href="#">Lorem</a>
		<a href="#">Lorem</a>
		<a href="#">Ipsum</a>
	</div>
	<div id="mainContainer" class="mainContentWrapper">
 			<span class="openbtn sidebarToggle">&#9776;</span>
 			<div class="calendarWrapper">
 				<div class="monthCalendarWrapper">
 					<div class="monthCalendarHeader">
 						<div class="monthWeekShort">
 							MON
 						</div>
 						<div class="monthWeekShort">
 							TUE
 						</div>
 						<div class="monthWeekShort">
 							WED
 						</div>
 						<div class="monthWeekShort">
 							THU
 						</div>
 						<div class="monthWeekShort">
 							FRI
 						</div>
 						<div class="monthWeekShort">
 							SAT
 						</div>
 						<div class="monthWeekShort">
 							SUN
 						</div>
 					</div>
 					<div class="monthCalendarRow">
 						<div class="monthCalendarDay">
 							1
 						</div>
 						<div class="monthCalendarDay">
 							2
 						</div>
 						<div class="monthCalendarDay">
 							3
 						</div>
 						<div class="monthCalendarDay">
 							4
 						</div>
 						<div class="monthCalendarDay">
 							5
 						</div>
 						<div class="monthCalendarDay">
 							6
 						</div>
 						<div class="monthCalendarDay">
 							7
 						</div>
 					</div>
 					<div class="monthCalendarRow">
 						<div class="monthCalendarDay">
 							1
 						</div>
 						<div class="monthCalendarDay">
 							2
 						</div>
 						<div class="monthCalendarDay">
 							3
 						</div>
 						<div class="monthCalendarDay">
 							4
 						</div>
 						<div class="monthCalendarDay">
 							5
 						</div>
 						<div class="monthCalendarDay">
 							6
 						</div>
 						<div class="monthCalendarDay">
 							7
 						</div>
 					</div>
 					<div class="monthCalendarRow">
 						<div class="monthCalendarDay">
 							1
 						</div>
 						<div class="monthCalendarDay">
 							2
 						</div>
 						<div class="monthCalendarDay">
 							3
 						</div>
 						<div class="monthCalendarDay">
 							4
 						</div>
 						<div class="monthCalendarDay">
 							5
 						</div>
 						<div class="monthCalendarDay">
 							6
 						</div>
 						<div class="monthCalendarDay">
 							7
 						</div>
 					</div>
 					<div class="monthCalendarRow">
 						<div class="monthCalendarDay">
 							1
 						</div>
 						<div class="monthCalendarDay">
 							2
 						</div>
 						<div class="monthCalendarDay">
 							3
 						</div>
 						<div class="monthCalendarDay">
 							4
 						</div>
 						<div class="monthCalendarDay">
 							5
 						</div>
 						<div class="monthCalendarDay">
 							6
 						</div>
 						<div class="monthCalendarDay">
 							7
 						</div>
 					</div>
 					<div class="monthCalendarRow">
 						<div class="monthCalendarDay">
 							1
 						</div>
 						<div class="monthCalendarDay">
 							2
 						</div>
 						<div class="monthCalendarDay">
 							3
 						</div>
 						<div class="monthCalendarDay">
 							4
 						</div>
 						<div class="monthCalendarDay">
 							5
 						</div>
 						<div class="monthCalendarDay">
 							6
 						</div>
 						<div class="monthCalendarDay">
 							7
 						</div>
 					</div>
 					<div class="monthCalendarRow">
 						<div class="monthCalendarDay">
 							1
 						</div>
 						<div class="monthCalendarDay">
 							2
 						</div>
 						<div class="monthCalendarDay">
 							3
 						</div>
 						<div class="monthCalendarDay">
 							4
 						</div>
 						<div class="monthCalendarDay">
 							5
 						</div>
 						<div class="monthCalendarDay">
 							6
 						</div>
 						<div class="monthCalendarDay">
 							7
 						</div>
 					</div>
 					a

 				</div>
 			</div>
	</div>	
</section>	