<!-- LOGIN POPUP -->
<div class="loginWrapper">
	<div class="loginBox">
		<h1>Login User</h1>
		<form ng-submit="login()">
			<div class="form-group">
				<label for="LoginInput2">Login</label>
				<input type="text" name="name" ng-model="user.login" class="form-control" placeholder="Login">
			</div>
			<div class="form-group">
				<label for="PasswordInput2">Password</label>
				<input type="password" name="password" ng-model="user.password" class="form-control" placeholder="Password">
			</div>
			<button type="submit">Login</button>
		</form>
	</div>
</div>

